@mixin stick-title {
  font-family: 'IQOS-Bold';
  font-size: rem(18);
  line-height: math.div(25, 18);
  color: $color-white;

  @media (max-width: $xsm) {
    font-size: rem(14);
    line-height: math.div(18, 14);
  }
}

@mixin appear {
  animation: fade-appear .6s ease-in-out;

  @keyframes fade-appear {
    0% {
      opacity: 0;
    }


    100% {
      opacity: 1;
    }
  }
}