$fontFamily: 'IQOS-Regular';
$fontSize: 16px;
$mainColor: #F8F7F3;
$minWidth: 360px;
$maxWidthContainer: 1200px;

$color-black: #000;
$color-white: #fff;
$color-00: #001F40;
$color-34: #34303D;
$color-94: #949494;
$color-04: #049CA1;
$color-E5: #E5E5E5;

$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xsm: 479px;
$xxsm: 411px;